/* Card styles  */

.container{
    border: 1px solid #68a8b4; 
    border-radius: 10px;
    background-color: #90d9e658;
  padding: 10px;
  width: 200px;
  max-height: 1000px;
  margin: 4px;
  box-shadow: 0 8px 0px 0 rgba(0, 0, 0, 0.467); 
}

.container:hover {
  filter: brightness(130%) saturate(90%) contrast(90%);
}

.name{
    height: 15vh;
    margin: auto;
    font-family:"Helvetica";
    text-shadow: 2px 2px 4px #00000095;
    word-wrap: break-word;
    display: block;
    line-height: 1.1em; /* a */
    height: 2.2em; /* a x number of line to show (ex : 2 line)  */
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.2em;  
}

.cardLink {
    color:  rgb(255, 255, 255);
    margin: auto;
    text-decoration: none;
    display: inline-block;
    
  }

  .cardLink:visited {
    color:  rgb(255, 255, 255);
    margin: auto;
    text-decoration: none;
    display: inline-block;
  }

.pictures{
  border-radius: 3px;
  width: 200px;
  height: 30vh;
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.genres{
    list-style: none;
    color: rgb(42, 38, 38);
    font-family: sans-serif;
    background-color: rgb(255, 197, 217);
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 3px;
    text-transform: uppercase;
}